# Entorno Virtual
venv/
ENV/
env/
.env

# Bases de Datos (Ignoramos la de prueba para que no haya conflictos)
backend/test_data.db
*.db
*.sqlite3

# Python internos
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db